<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>About</title>
</head>
<body>
    <h1>Rafael Márquez</h1>
    <hr>
    <p>
        Rafael Márquez Álvarez, nacido en Zamora, Michoacán es un exfutbolista, director deportivo y entrenador 
        mexicano que jugaba como defensa central y su último club fue el Atlas F. C. de la Primera División de 
        México. Actualmente es el entrenador del Cadete A del Alcalá. <br> <br>
        Fue jugador internacional absoluto con la Selección de México desde 1997 hasta su retiro en el Mundial de 
        Rusia 2018. Es el tercer futbolista con mayor cantidad de representaciones internacionales con 148, en 
        Mundiales ostenta el récord compartido de cinco ediciones disputadas, todas como capitán, y el mexicano 
        con más encuentros disputados con diecinueve. <br> <br>
        Con la Selección de México fue campeón de la Copa Confederaciones 1999, ganó la Copa Oro en 2003 y 2011, 
        y la Copa Concacaf de 2015. Además logró el subcampeonato de la Copa América 2001.
    </p>
</body>
</html>