<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>Bienvenido Internauta</h1>
    <hr>
    <p>
        En esta página conocerás la historia de una persona que admiro mucho, Rafael Márquez, también conocido como "El Kaiser"<br>
    </p>
    <p>
        Admiro mucho a Rafa Márquez por su trayectoria futbolística en los clubes de futbol mexicano y europeo <br>
        A continuación puedes navegar en las siguientes páginas
    </p>
    <ul>
        <a href="/about">Acerca de</a><br>
        <a href="/">Logros</a><br>
        <a href="/">Galería</a>
    </ul>
</body>
</html>