<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Works</title>
</head>
<body>
    <h1>A continuación se enlistarán algunos de los logros que tuvo en su carrera</h1>
    <hr>
    <ul>
        <li>
            Tuvo una temporada destacada en el Torneo Verano 1999 con el Atlas.
        </li>
        <li>
            Con 20 años, y siendo un jugador destacado en México, Márquez fue fichado por el AS Mónaco por 6 millones de dólares.
        </li>
        <li>
            Márquez fichó con el F. C. Barcelona por 5 millones de euros en el verano de 2003.
        </li>
        <li>
            A partir de 2004 se volvió titular del equipo y consiguió su primer título con el club, la Liga española 2004-05.
        </li>
        <li>
            La temporada siguiente consiguió la Supercopa de España, revalidó el título de la Liga y ganó la Liga de Campeones de la UEFA; convirtiéndose así en el primer futbolista mexicano que tiene la Champions en su palmarés.
        </li>
        <li>
            El 27 de mayo de 2009 consigue por segunda vez el título de la Liga de Campeones de la UEFA, aunque no pudo jugar la final contra el Manchester United por una lesión.
        </li>
        <li>
            Es el tercer jugador junto a Antonio Carbajal y a Lothar Matthaus en disputar 5 Mundiales.
        </li>
    </ul>
</body>
</html>